[user]
    name = {{ .gitName }}
    email = {{ .gitEmail }}
{{ if eq .machineType "work" }}
[include]
    path = ~/.gitconfig-work

[includeIf "gitdir:~/dotfiles/"]
    path = ~/.gitconfig-personal

[includeIf "gitdir:~/code/personal/"]
    path = ~/.gitconfig-personal
{{ end }}
[include]
    path = ~/dotfiles/git/gitconfig

[push]
    autoSetupRemote = true

[core]
    editor = nvim
